<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558686518462-11gaipqlp4c1hfnmic8g18fqro5votcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558686518462-11gaipqlp4c1hfnmic8g18fqro5votcl</string>
	<key>API_KEY</key>
	<string>AIzaSyD2beUzsR2n7S7tOO9xhYwbCVDz4RqTCPw</string>
	<key>GCM_SENDER_ID</key>
	<string>558686518462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.opinionguard</string>
	<key>PROJECT_ID</key>
	<string>opinion-guard</string>
	<key>STORAGE_BUCKET</key>
	<string>opinion-guard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558686518462:ios:f827be71ddb2b16d7432ef</string>
</dict>
</plist>